run = "mvn compile assembly:single && java -jar ./target/rxjava-sample-1.0-SNAPSHOT-jar-with-dependencies.jar"

entrypoint = "main.kt"

hidden=["*.jar"]

[nix]
channel = "stable-22_11"

[packager]
language = "java"

[packager.features]
packageSearch = true

[languages.kotlin]
pattern = "**/*.{kt,kts,java}"

[languages.kotlin.languageServer]
start = ["kotlin-language-server"]